// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  background-color: #1c5380;

}
h1{
  font-family: 'Oleo Script', cursive;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}
.left{
  margin: auto;
  border: 3px solid #73AD21;
  padding: 10px 10px 10px 19px;
  width:48%;
  float:left;
  height:610px;
  display: inline-block;
}
.right{
  height: 641px;
  float: right;
  display: inline-block;
}
iframe{
  display: none;
  height: 0;
  width: 0;
}
.twitter-timeline{
  height: 100%;
}
