// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  background-color: #1c5380;
  margin:0;
}
ul {
    list-style-type: none;
    margin-top: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: orange;
}
h1{
  font-family: 'Oleo Script', cursive;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  color: white;
  margin: 0;
}

.left{
  margin: 35px;
  margin-left: 80px;
  border: 3px solid orange;
  padding: 25px;
  width:610px;
  height:610px;
  display: inline-block;
}
.right{
  margin: 50px;
  height: 641px;
  display: inline-block;
}
iframe{
  display: none;
  height: 0;
  width: 0;
}
.twitter-timeline{
  height: 100%;
}
