<!DOCTYPE html>
<html>
  <head>
    <title>CatstaApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps:400,700" rel="stylesheet">
  <nav>
    <ul>
      <li><a href="#home">Feed</a></li>
      <li><a href="#news">Photos</a></li>
      <li><a href="#contact">Followers</a></li>
      <li style="float:right"><a class="active" href="#about">Log Out</a></li>
    </ul>
  </nav>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
